html
  head
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name="viewport")
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css', type='text/css' )
    link(rel='stylesheet', href=path+'style.min.css', type='text/css' )
    title=title
    meta(charset='utf-8')
  body
    nav
        div(class="logo")
            a(href="/")
                img(src="https://cdn.shortpixel.ai/client/q_lossless,ret_img,w_250/https://bojanstojanovski.com/blog/wp-content/uploads/2020/01/portret-circle-250.png")
            a(href="/")
                h1= "Bojan's AH Feed"
        div
            h4= "Барај во"
            select(name="city" multiple="multiple" required)
                each cityName, city in citiesListTranslation
                    option(value=city selected=(selectedCities.includes(city))) #{cityName}
        div
            h4= "Максимална цена"
            input(id="price-range" type="range" name="price" value=priceRange.split(',')[1] min="10000" max="60000" step="1000" oninput="num.value = this.value" required)
            output(id="num")
        div(class="switch")
            a(href=path+"/cars")
                img(src="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/33/0827.png")
    ul(class="results")
        each oglas in scraps
            a(href=oglas.url target="_blank")
                li
                    h3.source(class=oglas.source)=oglas.title
                    span= oglas.date.format('llll')
                    div(class="price-city")
                        h4= oglas.price + "€"
                        h4= oglas.city
  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script(src='https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js')
  script(src=path+'script.min.js')